.avatar {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 10px;
  min-height: 90%;

  .avatar-info {
    flex-grow: 1;
  }

  .speech-bubble {
    background: white;
    padding: 5px 15px;
    border-radius: 10px;
    z-index: 1;
    color: black;

    width: 100%;

    & > span {
      display: inline-block;
      min-height: 75px;
      display: flex;
      align-items: center;
    }
  }

  .avatar-name {
    color: var(--orange);
    text-transform: uppercase;
    margin: 0 0 10px;
  }
}

.window-content:has(.avatar) {
  overflow: hidden;
}

.computer-avatar.Natasha {
  img {
    margin-right: 30px;
  }
}
