.avatar {
  img {
    float: right;
  }

  .avatar-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .speech-bubble {
    background: white;
    padding: 5px 15px;
    border-radius: 10px;
    z-index: 1;
    color: black;
    display: inline-block;
  }

  .avatar-name {
    color: var(--orange);
    text-transform: uppercase;
    margin: 0 0 10px;
  }
}
