$battleship: red;
$cruiser: blue;
$submarine: green;
$destroyer: yellow;
$carrier: purple;

$bold-border: 3px solid white;

.board {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: min-content repeat(10, 1fr);
  aspect-ratio: 1 / 1;

  @media (max-width: 1000px) {
    font-size: 18px;
  }

  .column-marker,
  .row-marker {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .column-marker {
    margin-bottom: 20%;
  }

  .row {
    grid-column: 1 / 12;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
  }

  .cell {
    border: 1px solid rgba(white, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cell.unguessed {
    cursor: pointer;
  }

  .row-marker + .cell {
    border-left: $bold-border;
  }

  .cell:last-child {
    border-right: $bold-border;
  }

  .column-marker + .row .cell {
    border-top: $bold-border;
  }

  .row:last-child .cell {
    border-bottom: $bold-border;
  }

  .battleship {
    background-color: $battleship;
    border-color: $battleship;
  }

  .cruiser {
    background-color: $cruiser;
    border-color: $cruiser;
  }

  .submarine {
    background-color: $submarine;
    border-color: $submarine;
  }

  .destroyer {
    background-color: $destroyer;
    border-color: $destroyer;
  }

  .carrier {
    background-color: $carrier;
    border-color: $carrier;
  }
}
