.board.heat-map {
  border: 1px solid red;

  .cell {
    border-color: transparent;
    font-size: 0.8rem;
  }

  .heat--1,
  .heat--2 {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heat--2:after {
    content: '❌';
  }

  .heat--1:after {
    content: '✔️';
  }

  .heat-0 {
    border-color: rgba(red, 0.04);
  }

  $heatDivision: (100 / 8) / 100;
  @for $i from 1 through 8 {
    .heat-#{$i} {
      background: rgba(red, $heatDivision * $i);
    }
  }
}
