@import './components/Board.scss';
@import './components/HeatMapBoard.scss';

$battleship-blue: #0088d1;
$orange: #ff6800;

@mixin page-background {
  background-color: #0088d1;
  background-image: url('../public/img/bg-left.svg'), url('../public/img/bg-right.svg');
  background-position: left top, right top;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
//     'Droid Sans', 'Helvetica Neue', sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
// }

// #root {
//   display: flex;
//   flex-wrap: wrap;
// }

// #boards {
//   display: flex;
//   flex-wrap: wrap;
// }

// .user-guess-board .cell.hit,
// .user-guess-board .cell.miss {
//   pointer-events: none;
// }

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  @include page-background;
  color: white;
  font-size: 28px;
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
}

.game-container {
  display: grid;
  grid-template:
    'player-guess-board computer-avatar stats'
    'player-guess-board player-fleet feed'
    / 5fr 3fr 3fr;
  gap: max(5vw, 50px);
  padding: 5vw;
}

.player-guess-board {
  grid-area: player-guess-board;
}

.computer-avatar {
  grid-area: computer-avatar;
}

.stats {
  grid-area: stats;
}

.player-fleet {
  grid-area: player-fleet;
}

.feed {
  grid-area: feed;
}

.window {
  background: url('../public/img/window.svg');
  background-size: 100% 100%;
  aspect-ratio: 484 / 431;
  padding: 10% 10% 5%;
  box-sizing: border-box;
  overflow: auto;
}

h3 {
  text-transform: uppercase;
  color: $orange;
  margin: 0;
  font-size: 2.9rem;
  text-shadow: 5px 5px 0 #000, -5px -5px 0 #000, 5px -5px 0 #000, -5px 5px 0 #000, 5px 5px 0 #000;
  line-height: 1;
}
