:root {
  --battleship-blue: #0088d1;
  --orange: #ff6800;
}

@import './components/Board.scss';
@import './components/HeatMapBoard.scss';
@import './components/Window.scss';
@import './components/Feed.scss';
@import './components/TurnIndicator.scss';
@import './components/Avatar.scss';
@import './components/StartScreen.scss';
@import './components/status.scss';

@mixin page-background {
  background-color: #0088d1;
  background-image: url('/img/bg-left.svg'), url('/img/bg-right.svg');
  background-position: left top, right top;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  @include page-background;
  color: white;
  font-size: 22px;
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
  display: flex;
}

#root {
  align-self: center;
  width: 100%;
}

.start-screen + .game-container {
  display: none;
}

.game-container {
  display: grid;
  grid-template:
    'player-guess-board computer-avatar feed'
    'player-guess-board player-fleet status'
    / 5fr 2.2fr 2.2fr;
  gap: 30px;
  padding: 2vw;

  // @media (max-width: 1500px) {
  //   grid-template:
  //     'player-guess-board player-guess-board player-guess-board player-guess-board'
  //     'computer-avatar player-fleet status feed'
  //     / 1fr 1fr 1fr 1fr;
  //   gap: 50px 15px;
  // }

  @media (max-width: 1500px) {
    grid-template:
      'player-guess-board player-guess-board'
      'computer-avatar feed '
      'status player-fleet'
      / 1fr 1fr;
  }

  @media (max-width: 550px) {
    grid-template:
      'player-guess-board'
      'computer-avatar'
      'feed'
      'player-fleet'
      'status'
      / 1fr;
  }
}

.computer-avatar {
  grid-area: computer-avatar;
}

.player-guess-board {
  grid-area: player-guess-board;
  display: flex;
  align-items: center;
  justify-content: center;

  .board .cell {
    cursor: none;
  }

  &.user-turn {
    .board .cell {
      cursor: url('/img/aim.png') 30 30, auto;
    }
  }

  .player-guess-board-inner {
    max-width: max(35vw, 550px);
    width: 100%;
  }
}

.computer-avatar {
  grid-area: computer-avatar;
}

.status {
  grid-area: status;
}

.player-fleet {
  grid-area: player-fleet;

  h3 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    text-align: center;
  }

  .window-content {
    display: flex;
    overflow-x: hidden;
    justify-content: space-between;
  }

  .board {
    font-size: 17px;
    width: calc(100% - 40px);
  }
}

.feed {
  grid-area: feed;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
